        * {
            box-sizing: border-box;
        }
        
        body {
            margin: 0;
            padding: 0;
            border-top: 20px solid rgb(139, 118, 92);
        }
        
        .main-project {
            margin: 20px;
        }
        
        #header {
            margin-top: 50px;
            margin-bottom: 50px;
            justify-content: center;
            display: flex;
            align-items: center;
        }
        
        #logo {
            width: 30%;
            text-align: center;
        }
        
        #logo h1 {
            display: none;
        }
        
        blockquote {
            width: 70%;
            font-style: italic;
            font-size: 3rem;
        }
        
        #content {
            display: flex;
        }
        
        #content-side {
            width: 33%;
        }
        
        #content-side a {
            text-decoration: none;
            color: rgb(139, 118, 92);
            font-size: 1.5rem;
        }
        
        #content-main {
            width: 66%;
        }
        
        #content-main h2 {
            font-weight: bold;
            font-size: 2rem;
            margin-bottom: 0;
        }
        
        #content-main a {
            text-decoration: none;
            color: rgb(139, 118, 92);
        }
        
        #content-main p {
            margin: 3px;
        }