* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    background-color: black;
}

.navbar ul {
    list-style-type: none;
    padding: 10px;
    color: black;
    text-align: center;
    background-color: black;
  }
  
.navbar li {
display: inline-block;
background-color: black;

}

.navbar li a {
display: block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
background-color: black;
}


.container {
    max-width: 100%;
    padding: 0;
    margin: 0;
}

.info {
    display: block;
    text-align: center;
}

.roundedImg {
    width: 20%;
    height: auto;
    margin-top: 2%;
    margin-bottom: 3%;
    border-radius: 50%;
}

.aboutMe {
    display: block;
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    color: black;
    max-width: 60%;
    text-align: center;
}

.flex-container {
    display: flex;
    flex-direction: row;
    font-size: 17px;
    text-align: center;
    margin: 30px;
  }
  
.flex-item {
    background-color:rgb(222, 222, 226);
    flex: 40%;
    margin-top: 10px;
    margin-right: 10px;
    padding: 20px 16px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
}

.flex-item:hover{
    box-shadow: 0 16px 20px 0 rgba(0, 0, 0, 0.2);
    margin-top: 4px;
}

@media (max-width: 800px) {
.flex-container {
    flex-direction: column;
}
}

.educationList ul li{
    list-style-type: none;
  }
  