* {
    margin: 0;
    padding: 0;
}

body {
    padding: 10px;
    font-family: monospace;
    letter-spacing: 1px;
}

h1 {
    padding: 10px;
}

p {
    text-align: center;
    padding: 10px;
}

ul {
    padding: 10px;
}

.copyright {
    font-size: 1rem;
    text-align: start;
}

.copyright a {
    color: darkorchid;
    font-style: italic;
}