body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #2bc3ff;
}

.bird {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    ;
}

.bird-body {
    position: relative;
    width: 400px;
    height: 400px;
    background-color: black;
    border-top-right-radius: 100px;
    border-top-left-radius: 100px;
}

.eye {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    width: 30px;
    height: 30px;
    background-color: white;
}

.beak {
    width: 0;
    height: 0px;
    border-top: 70px solid transparent;
    border-left: 70px solid #ffd947;
    border-bottom: 70px solid transparent;
    position: absolute;
    top: 30%;
    left: 100%;
}